.moviesCardList {
    --accent-color-pink: rgba(238, 52, 101, 1);
    --accent-color-blue: rgba(66, 133, 244, 1);
    margin: 80px 0 65px 0;
    padding: 0;
    display: block;
}

.moviesCardList__wrapper {
    display: grid;
    grid-auto-flow: row;
    row-gap: 46px;
    column-gap: 30px;
    grid-template-columns: repeat(auto-fit, 360px);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-content: center;
    list-style: none;
}

.moviesCardList__searchError {
    padding: 0;
    margin: 20px auto 0;
    color: var(--accent-color-blue);
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.moviesCardList__serverError {
    padding: 0;
    margin: 20px auto;
    color: var(--accent-color-pink);
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 900px) {
    .moviesCardList {
        margin: 80px 0 60px 0;
    }

    .moviesCardList__wrapper {
        grid-template-columns: repeat(auto-fit, 339px);
    }
}

@media screen and (max-width: 767px) {
    .moviesCardList__wrapper {
        grid-template-columns: repeat(auto-fit, 300px);
    }
}

@media screen and (max-width: 600px) {
    .moviesCardList {
        margin: 53px 0 60px 0;
    }

    .moviesCardList__wrapper {
        row-gap: 37px;
    }
}

