.moviesCard {
    --secondary-bg-color: rgba(39, 39, 39, 1);
    --additional-color: rgba(48, 48, 48, 1);
    --main-text-color: rgba(255, 255, 255, 1);
    --secondary-text-color: rgba(139, 139, 139, 1);
    --accent-color-pink: rgba(238, 52, 101, 1);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    align-self: center;
    list-style: none;
}

.moviesCard:hover .button_type_save {
    display: block;
}

    .moviesCard__saveError {
    padding: 0;
    margin: 0 auto;
    color: var(--accent-color-pink);
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--additional-color);
}

.moviesCard__imgWrapper {
    background-color: var(--secondary-bg-color);
    max-width: 100%;
    height: 201px;
    border-radius: 8px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.moviesCard__img {
    object-fit: contain;
    border-radius: 8px;
    max-width: 100%;
    height: 201px;
}

.moviesCard__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px 0;
}

.moviesCard__headerWrapper {
    height: 18px;
    overflow: hidden;
}

.moviesCard__title {
    color: var(--main-text-color);
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.moviesCard__durationWrapper {
    background-color: var(--additional-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    height: 12px;
    padding: 3px 4px;
}

.moviesCard__duration {
    padding: 0 5px;
    color: var(--secondary-text-color);
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    min-width: 40px;
    margin: 0;
}

@media screen and (max-width: 900px) {
    .moviesCard__imgWrapper {
        height: 190px;
    }

    .moviesCard__info {
        padding: 24px 0 0 0;
    }
}

@media screen and (max-width: 767px) {
    .moviesCard__imgWrapper {
        height: 168px;
    }
}

@media screen and (max-width: 600px) {
    .moviesCard__info {
        padding: 15px 0 0;
    }
}
