.burger {
    --main-bg-color: rgba(32, 32, 32, 1);
    --main-text-color: rgba(255, 255, 255, 1);
    width: 40px;
    background: transparent;
    color: var(--main-text-color);
    display: none;
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {
    .burger {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
    }

    .burger_active {
        position: fixed;
        top: 12px;
        right: 27px;
    }

    .burger__container {
        display: block;
        position: relative;
        height: 64px;
        cursor: pointer;
    }

    .burger__checkbox {
        position: absolute;
        display: block;
        height: 23px;
        width: 27px;
        top: 16px;
        right: 5px;
        z-index: 4;
        opacity: 0;
        cursor: pointer;
    }

    .burger__wrapper {
        height: 23px;
        width: 27px;
        position: absolute;
        top: 16px;
        right: 5px;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: translate(0);
        transition: transform 0.5s ease-in-out;
    }

    .burger_line {
        display: block;
        height: 3px;
        width: 100%;
        background-color: var(--main-text-color);
    }

    .burger_line_1 {
        transform-origin: 0 0;
        transition: transform 0.4s ease-in-out;
    }

    .burger_line_2 {
        transition: transform 0.2s ease-in-out;
    }

    .burger_line_3 {
        transform-origin: 0 100%;
        transition: transform 0.4s ease-in-out;
    }

     .burger__navWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 26px;
        z-index: 3;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .burger__checkbox:checked ~ .burger__items {
        display: flex;
        transform: translateX(0);
    }

    .burger__checkbox:checked ~ .burger__wrapper {
        display: flex;
        transform: translateX(20px);
    }

    .burger__checkbox:checked ~ .burger__wrapper .burger_line_1 {
        transform: rotate(52deg);
    }

    .burger__checkbox:checked ~ .burger__wrapper .burger_line_2 {
        transform: scaleY(0);
    }

    .burger__checkbox:checked ~ .burger__wrapper .burger_line_3 {
        transform: rotate(-52deg);
    }
}

@media screen and (max-width: 600px) {
    .burger__wrapper {
        right: 23px;
        top: 28px;
        height: 18px;
        width: 23px;
    }

    .burger__checkbox {
        right: 13px;
        top: 20px;
    }

    .burger__navWrapper {
        gap: 22px;
    }

    .burger_line {
        height: 2px;
    }

    .burger__checkbox:checked ~ .burger__wrapper {
        transform: translateX(10px) translateY(-10px);

    }

    .burger__checkbox:checked ~ .burger__wrapper .burger_line_1 {
        transform: rotate(45deg);
    }

    .burger__checkbox:checked ~ .burger__wrapper .burger_line_3 {
        transform: rotate(-45deg);
    }
}
