.pageProfile {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    --main-text-color: rgba(255, 255, 255, 1);
    --border-color: rgba(66, 66, 66, 1);
    --accent-color-pink: rgba(238, 52, 101, 1);
    --accent-color-green: rgba(61, 220, 132, 1);
}

.mainProfile {
    display: flex;
    flex-direction: column;
    min-height: 88vh;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    padding: 70px 0 65px 0;
    width: 410px;
    margin: 0 auto;
}

.profile__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1 0 auto;
    width: 100%;
}

.profile__title {
    color: var(--main-text-color);
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0;
    margin: 0 0 120px 0;
}

.profile__info {
    width: 100%;
}

.profile__name {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    padding: 0;
}

.profile__email {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    padding-top: 10px;
}

.profile__type {
    color: var(--main-text-color);
    font-family: Inter, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 5px 0 15px 0;
    margin: 0 15px 0 0;
}

.profile__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
}

.profile__error {
    padding: 0;
    margin-bottom: 20px;
    color: var(--accent-color-pink);
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile__success {
    padding: 0;
    margin: 0;
    color: var(--accent-color-green);
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 900px) {
    .profile__title {
        margin: 20px auto 95px auto;
    }

    .profile__wrapper {
        justify-content: center;
        flex: 0 0 auto;
        padding-bottom: 210px;
    }

    .profile__buttons {
        margin-bottom: 52px;
    }
}

@media screen and (max-width: 600px) {
    .profile__title {
        margin: 55px auto 75px auto;
    }

    .profile {
        margin: 0 30px;
        width: auto;
        box-sizing: border-box;
        padding: 0;
    }

    .profile__wrapper {
        padding-bottom: 378px;
    }


}

