.searchForm {
    --border-color: rgba(66, 66, 66, 1);
    padding: 75px 0 23px 0;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--border-color);
}

.searchForm__bar {
    display: grid;
    grid-template-columns: auto 44px;
    gap: 10px;
align-items: flex-start;
}

.searchForm__toggleWrapper {
align-self: center;
}

@media screen and (max-width: 900px){
    .searchForm {
        padding-bottom: 27px;
    }

        .searchForm__toggleWrapper {
        padding-top: 10px;
    }
    }
