.section {
    width: 100%;
    padding: 106px 70px 105px 70px;
    --line-color: rgba(218, 218, 218, 1);
    --main-text-color: rgba(255, 255, 255, 1);
    --secondary-bg-color: rgba(39, 39, 39, 1);
    box-sizing: border-box;
}
.section_type_gray {
    background-color: var(--secondary-bg-color);
}
    .section__titleContainer {
width: 100%;
    border-bottom: 1px solid var(--line-color);
}

.section__title {
color: var(--main-text-color);
    font-family: Inter, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    margin: 0 0 27px 0;
    padding: 0;
}
