.header {
    margin: 0 auto;
    padding: 9px 70px 18px;
    width: 100%;
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {
    .header {
        padding: 12px 30px 16px;
    }
}

