:root {
    --main-bg-color: rgba(32, 32, 32, 1);
    --secondary-bg-color: rgba(39, 39, 39, 1);
    --additional-color: rgba(48, 48, 48, 1);
    --main-text-color: rgba(255, 255, 255, 1);
    --secondary-text-color: rgba(139, 139, 139, 1);
    --additional-text-color: rgba(0, 0, 0, 1);
    --line-color: rgba(218, 218, 218, 1);
    --border-color: rgba(66, 66, 66, 1);
    --accent-color-green: rgba(61, 220, 132, 1);
    --accent-color-blue: rgba(66, 133, 244, 1);
    --accent-color-pink: rgba(238, 52, 101, 1);
}
