.footer {
    width: 100%;
    padding: 73px 70px 20px 70px;
    --main-text-color: rgba(255, 255, 255, 1);
    --secondary-text-color: rgba(139, 139, 139, 1);
    --border-color: rgba(66, 66, 66, 1);
    box-sizing: border-box;
}

.footer__titleWrapper {
border-bottom: 1px solid var(--border-color);
}

.footer__title {
    padding: 0 0 20px 0;
    margin: 0;
    color: var(--secondary-text-color);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__infoWrapper {
display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0 0 0;
}

.footer__copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.footer__partnersList {
list-style: none;
display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.footer__partnersItem {
    padding: 0 0 0 20px;
    margin: 0;
    color: var(--main-text-color);
    text-align: right;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
