.savedMovies {
    width: 100%;
    padding: 0 70px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

@media screen and (max-width: 900px) {
    .savedMovies {
        padding: 0 30px 20px;
    }
}

@media screen and (max-width: 600px) {
    .savedMovies {
        padding: 0 14px 20px;
    }
}
